body
{
	background-color: darkblue;
	color: yellow;
	font-size: 18px;
	padding: 2cm 4cm 1cm 2cm;
	text-align:justify;	
    text-justify:auto;
    line-height: 0.7cm;
}

p.images
{
	text-align: center;
	display: block;
    margin: 0 auto;
}

img.center {

}


a
{
	color: #00FF00;
}

a:visited
{
	color: #00FF00;
}


a:visited
{
	color: crimson;
}

.notice
{
	color: aliceblue;
	font-weight: bold;
}

b
{
	/* color: Lavender; */
	color: Lavender;
	/* color: PaleTurquoise; */
}

i
{
	color: Lavender;
}
